@use './partial/header';
@use './partial/main';
@use './partial/footer';

@use '../../../node_modules/bootstrap/scss/bootstrap.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    .header_top {
        height: 53px;
        background-color: lightblue;
    }



    .header_bottom {
        height: 90px;
        background-color: lightblue;
    }
}

main {
    .banner {
        background-color: lightcoral;
    }


}