@use './partial/header';
@use './partial/main';
@use './partial/footer';
@use './partial/variables' as *;

@use '../../../node_modules/bootstrap/scss/bootstrap.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $dark;
}

header {




    .header_bottom {
        height: 90px;
        background-color: lightblue;
    }
}

main {
    .banner {
        background-color: lightcoral;
    }


}