@use 'variables' as *;

header {
    font-size: 12px;
    color: $icons;

    .header_top {
        margin: 0 105px;

        #languages {
            color: $icons;
        }

        .nav_links {
            a {
                text-decoration: none;
                color: $icons;
                padding: 0 0.5rem;
            }

            .new {
                position: absolute;
                top: -13px;
                right: 0;
                background-color: $label;
                color: $light;
            }
        }

        .socials {
            a {
                color: $icons;
                padding: 0 0.5rem;
            }
        }
    }
}

hr {
    color: $icons;
}

.header_bottom {
    margin: 0 105px;
}