@use 'variables' as *;

main {
    .start {
        padding: 3.75rem;

        .container {
            width: 80%;
            max-width: 1178px;
            margin: 0 auto;

            h1 {
                font-size: 64px;
            }

            p {
                margin: 2rem 0;
                font-size: 24px;
            }

            .btn {
                background-color: $buttons_color;
                color: $light;
                font-size: 13px;
                padding: 16px 24px;

            }

            .start_images {
                margin-right: -9.5rem;

                .bubblespeech {
                    right: 45px;
                    top: 59px;
                }

                .book1 {
                    top: 111px;
                    right: 45px;
                }

                .book2 {
                    bottom: 39px;
                    right: 150px;
                }

                .magnifier {
                    right: 65px;
                    bottom: 117px;
                }
            }
        }
    }

    .courses {
        .container {
            width: 80%;
            max-width: 1178px;
            margin: 0 auto;

            .single_card {
                padding: 2rem;
                background-color: $primary_light_color;

                .icon {
                    font-size: 50px;
                    color: $buttons_color;
                }

                h6 {
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 1.5rem 0;
                }

                p {
                    font-size: 13px;
                }
            }

            .courses_groups {
                margin: 118px 0;

                h6 {
                    font-size: 1rem;
                    font-weight: bold;

                }

                a {
                    font-size: 13px;
                    text-decoration: none;
                    color: $dark;
                }

            }
        }

    }

    .read_more {
        height: 598px;
        background-image: url(../../../../public/images/Untitled-1-1-1-1-1.png);
        background-repeat: round;
        background-size: cover;

        .container {
            width: 80%;
            max-width: 1178px;
            margin: 0 auto;

            .contents {
                max-width: 570px;


                h2 {
                    font-size: 48px;
                }

                p {
                    margin: 2rem 0;
                    font-size: 24px;
                }

                .btn {
                    background-color: $buttons_color;
                    color: $light;
                    font-size: 13px;
                    padding: 16px 24px;

                }
            }
        }
    }

    .recents {
        margin: 118px 0;
    }

    .data {
        height: 596px;
    }

    .subscribe {
        background-color: $secondary_vibrant_color;

        .container {
            width: 80%;
            max-width: 1178px;
        }
    }

    .popular {
        background-color: $primary_light_color;
        padding-top: 118px;
    }

    .categories {
        .container {
            margin: 3rem auto;

            .cat_card {
                border: 1px solid $light_border;
            }
        }
    }

    .opinions {
        height: 670px;
        background-color: lightseagreen;
    }
}