@use 'variables' as *;

main {

    h2 {
        font-size: 48px;
    }

    h6 {
        font-size: 16px;
        font-weight: bold;
    }

    .start {
        padding: 3.75rem;

        .container {
            width: 80%;
            max-width: 1178px;
            margin: 0 auto;

            h1 {
                font-size: 64px;
            }

            p {
                margin: 2rem 0;
                font-size: 24px;
            }

            .btn {
                background-color: $buttons_color;
                color: $light;
                font-size: 13px;
                padding: 16px 24px;

            }

            .start_images {
                margin-right: -9.5rem;

                .bubblespeech {
                    right: 45px;
                    top: 59px;
                }

                .book1 {
                    top: 111px;
                    right: 45px;
                }

                .book2 {
                    bottom: 39px;
                    right: 150px;
                }

                .magnifier {
                    right: 65px;
                    bottom: 117px;
                }
            }
        }
    }

    .courses {
        .container {
            width: 80%;
            max-width: 1178px;
            margin: 0 auto;

            .single_card {
                padding: 2rem;
                background-color: $cards_light;

                &:hover {
                    margin-top: -1rem;
                    cursor: pointer;
                }

                .icon {
                    font-size: 50px;
                    color: $buttons_color;
                }

                h6 {
                    margin: 1.5rem 0;
                }

                p {
                    font-size: 13px;
                }
            }

            .courses_groups {
                margin: 118px 0;

                a {
                    font-size: 13px;
                    text-decoration: none;
                    color: $dark;
                }

            }
        }

    }

    .read_more {
        height: 598px;
        background-image: url(../../../../public/images/Untitled-1-1-1-1-1.png);
        background-repeat: round;
        background-size: cover;

        .container {
            width: 80%;
            max-width: 1178px;
            margin: 0 auto;

            .contents {
                max-width: 570px;

                p {
                    margin: 2rem 0;
                    font-size: 24px;
                }

                .btn {
                    background-color: $buttons_color;
                    color: $light;
                    font-size: 13px;
                    padding: 16px 24px;

                }
            }
        }
    }

    .recents {
        margin: 118px 0;

        .categories_link {
            a {
                text-decoration: none;
                margin: 1rem;
            }

            .light_grey {
                background-color: $recent_buttons;
                padding: 16px 20px;
                color: $dark;
            }
        }

        .single_card {
            font-size: 14px;

            img {
                max-width: 100%;
            }

            .label {
                color: $light;
                font-size: 12px;
            }

            .yellow_label {
                background-color: $label_yellow;
                rotate: -45deg;
                top: 25px;
                left: -27px;
                padding: 0.25rem 2rem;
            }

            .new {
                background-color: $secondary_vibrant_color;
                padding: 0.25rem 0.5rem;
                top: 8px;
                right: 8px;
            }

            .hot {
                background-color: $label;
                padding: 0.25rem 0.5rem;
                top: 8px;
                right: 8px;
            }

            .special {
                background-color: $label_yellow;
                padding: 0.125rem 0.5rem;
                top: 8px;
                right: 8px;
            }

            .yellow_border {
                border: 1px solid $border;
                border-top: 0;
            }

            a {
                text-decoration: none;
                color: $icons;
                font-size: 12px;
            }

            p {
                margin-top: 0.5rem;
                font-weight: bold;
            }

            .icon_clock {
                color: $icons;
                margin-right: 0.5rem;
            }

            .sale {
                font-size: 12px;
                color: $icons;
                right: 0;
                bottom: 16px;
                text-decoration: line-through;
            }


        }

        .show {
            margin-top: 6rem;

            .categories_btn {
                font-size: 13px;
                text-decoration: none;
                background-color: $buttons_color;
                padding: 16px 24px;
                color: $light;
            }


        }

        .menu_vertical {
            padding: 1rem;
            background-color: $light;
            box-shadow: 3px;
        }

    }

    .data {
        background-color: $recent_buttons;
        background-image: url(../../../../public/images/we_proud.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        height: 754px;

        .container {
            width: 80%;
            max-width: 1178px;

            .title {
                padding: 6rem 12rem;
            }

            .data_numbers {
                font-size: 64px;
            }
        }
    }

    .subscribe {
        background-color: $secondary_vibrant_color;

        .container {
            width: 80%;
            max-width: 1178px;
        }
    }

    .popular {
        background-color: $primary_light_color;
        padding-top: 118px;
    }

    .categories {
        .container {
            margin: 3rem auto;

            .cat_card {
                border: 1px solid $light_border;
            }
        }
    }

    .opinions {
        height: 670px;
        background-color: lightseagreen;
    }
}