$light: #ffffff;
$dark: #2d2e34;
$icons: #777777;
$light_border: #e0e0e0;
$searchbar_bckg: #f0f2f5;
$recent_buttons: #f0f4fa;
$cards_light: #f2f6fb;
$primary_light_color: #e4e8ed;
$secondary_vibrant_color: #4bd7a8;
$buttons_color: #1a5eca;
$buttons_hover: #1654b4;
$chevron_hover: #3b5182;
$label: #fd0303;
$label_yellow: #f09b23;
$border: #fecc4f;